{% extends 'base.html' %}


{% block main %}
{% include 'flash_messages.html' %}
<div id="properties">
  <h1 class="page-header">Properties</h1>
  <div class="property-grid">
      {% for property in properties %}
      <div class="property-card">
          <img src="{{url_for('get_image', filename=property.photo)}}" alt="Image">
        
        <p class="property-title">{{property.title}}</p>
        <p class="location"><i class="fas fa-map-marker-alt"></i> {{ property.location }}</p>
        <p class="price">${{ property.price }}</p>
        <a href="{{ url_for('getProperty', propertyRequested=property.id) }}" id="view-property">View Property</a>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}
