{% extends 'base.html' %}

{% block main %}
<div class="property-dets">
    <div>
        <img src="{{url_for('get_image', filename=propertyRequested.photo)}}" alt="Image">
    </div>
    <div>
        <h1 class="page-header">{{propertyRequested.title}}</h1>
        <p>{{propertyRequested.price}}</p>
        <p>{{propertyRequested.properyType}}</p>
        <p>{{propertyRequested.descriptiion}}</p>
        <p>{{propertyRequested.numBedrooms}}</p>
        <p>{{propertyRequested.numBathrooms}}</p>
        <p>{{propertyRequested.location}}</p>
        <button type="button" class="btn btn-success">Email Reader</button>
    </div>
</div>
{% endblock %}
